<!doctype html>
<html lang="en">

<head>
 <title>VR Enabled Conference</title>
 <meta charset=“utf-8”>
 <link rel="stylesheet" href="../static/css/style.css">
 <meta name="description" content="Hello, World! - A-Frame">
 <script src="https://aframe.io/releases/0.3.2/aframe.min.js"></script>
 <style type="text/css">
   
  #content {
    width: 100%;
    height: 100%;

  }

  #top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    opacity: 0.8;
    background-color: white;
  }


 </style>
</head>

<body>

<header id="top">
   <nav>
    <ul>
     <li><a href="/index">Home</a></li>
     <li><a href="/places">Places</a></li>
     <li><a href="/events">Events</a></li>
     <li><a href="/foods">Foods</a></li>
     <li><b>2017 Conference</b></li>
    </ul>
   </nav>
</header>

<div id="content">
<a-scene>
    <a-assets>
      <img id="place" crossorigin="anonymous" src="../static/place360.jpg">
      </a-assets>
      <a-sky rotation="0 40 0" id="image-360" radius="10" src="#place"></a-sky>

</a-scene>
</div>

</body>
</html>